.user {
  padding: .5rem;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.user-profile-img {
  padding-top: 1rem;

  img {
    max-height: 200px;
    width: auto;
  }
}

.user-section {
  text-align: center;
}

.btn-fetching {
  min-width: 8rem;
}